/* --------------------------------------------------
    NUEVOS ESTILOS PARA LA GESTIÓN DE NODOS
-------------------------------------------------- */

/* Estilos para el botón de creación de nodos */
.node-btn {
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.node-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.plus-icon {
    font-size: 2rem;
    color: white;
}

/* Estilos base para los nodos que se crean */
.node-card {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    width: 200px;
    height: auto;
    cursor: grab;
    /* Evita la selección de texto para un mejor arrastre */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.node-card:active {
    cursor: grabbing;
}

/* Contenedor de los iconos de control */
.node-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* Estilos para los iconos */
.node-controls i {
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease;
}

.node-controls i:hover {
    color: #000;
}

.node-drag-handle {
    cursor: grab;
}
